/* EventsComponent.css */
.events-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .event-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10pxpx;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .event-card h3 {
    color: #333;
  }
  
  .event-card p {
    margin: 10px 0;
  }
  
.events-container{
  opacity: 0.89;
 
}
  /* Add more CSS styles as needed */
  